html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb{
  padding-bottom: 20px;

}

.el-table{
  margin-top: 20px;
  font-size: 15px;
}


.el-pagination{
  margin-top: 20px;
}
